<div class="box list-container">
  <div class="list-header is-clearfix">
    <div class="title-box is-pulled-left">
      <h1 class="title">Rock categories</h1>
      <h3 class="subtitle" *ngIf="showSpinner">Loading...</h3>
    </div>
    <a class="new-item-button button is-primary is-pulled-right" [routerLink]="['/rock-categories/new']">
      <span class="icon">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
      <span>Create new ROCK category</span>
    </a>
  </div>

  <hr>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>ROCK types</th>
        <th>Color</th>
        <th>Last updated</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories | async; let i = index">
        <td>
          {{category.name}}
        </td>
        <td *ngIf="category.types; else noTypes">
          <div class="buttons">
            <span class="button is-small" *ngFor="let type of category.types">{{ type.name }}</span>
          </div>
        </td>
        <ng-template #noTypes>
          <td>
            <button disabled class="button is-small disabled">No types</button>
          </td>
        </ng-template>
        <td>
          <div 
            *ngIf="category.color; else noColor" 
            [ngStyle]="{
              'background-color': category.color, 
              'width': '15px', 
              'height': '15px', 
              'border-radius': '50%',
              'border': '1px solid rgba(0, 0, 0, .15)'
            }"
          ></div>
          <ng-template #noColor>
            <span class="icon is-small is-right">
              <fa-icon [icon]="faBan"></fa-icon>
            </span>
          </ng-template>
        </td>
        <td>
          {{category.lastUpdated | date}}
        </td>
        <td>
          <div class="field is-grouped">
            <p class="control">
              <a [routerLink]="['/rock-categories/edit', category.key]" class="button is-primary is-small">Edit</a>
            </p>
            <p class="control">
              <a (click)="deleteItem(category.key, i)" [class.is-loading]="isDeletingItem && itemToDelete == i" class="button is-danger is-small">Delete</a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>