<div *ngIf="auth.user | async as user; else loginFormTemplate">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="/assets/images/branding-cover.jpg" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{user.photoURL}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Welcome {{user.displayName}}</p>
              <p class="subtitle is-6">{{user.email}}</p>
            </div>
          </div>
      
          <div class="content">
            <hr>
            <a [routerLink]="['/']" class="button is-primary is-large is-fullwidth">Go to your Dashboard</a>
          </div>
        </div>

        <footer class="card-footer">
          <a [routerLink]="['/cities']" class="card-footer-item is-primary">Cities</a>
          <a [routerLink]="['/rock-categories']" class="card-footer-item">Categories</a>
          <a [routerLink]="['/rock-category-types']" class="card-footer-item">Types</a>
          <a [routerLink]="['/contexts']" class="card-footer-item">Context items</a>
          <a [routerLink]="['/actions']" class="card-footer-item">Actions</a>
        </footer>
      </div>
    </div>
  </div>
</div>

<ng-template #loginFormTemplate>
  <user-form></user-form>
</ng-template>