<div *ngIf="auth.user | async; then authenticated else guest"></div>

<ng-template #authenticated>
  <nav class="navbar has-shadow is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="'/'">
        <img src="/assets/images/logo.png" alt="Ideas to move - STUDIO" width="30" height="30">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a [routerLink]="['/login']" class="navbar-item">Profile</a>
        <a class="navbar-item" (click)="logOut()" style="margin-right: 15px;">Log out</a>
      </div>
    </div>
  </nav>
</ng-template>

<ng-template #guest>
  <nav class="navbar has-shadow is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="'/'">
        <img src="/assets/images/logo.png" alt="Ideas to move - STUDIO" width="30" height="30">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
</ng-template>