<div class="box list-container">
  <div class="list-header is-clearfix">
    <div class="title-box is-pulled-left">
      <h1 class="title">Cities</h1>
      <h3 class="subtitle" *ngIf="showSpinner">Loading...</h3>
    </div>
    <a class="new-item-button button is-primary is-pulled-right" [routerLink]="['/cities/new']">
      <span class="icon">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
      <span>Create new city</span>
    </a>
  </div>

  <hr>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>ROCK category</th> -->
        <th>Type</th>
        <th>Active</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities | async; let i = index">
          <td>
            {{city.name}}
          </td>
          <!-- <td>
            {{city.ROCKcategory}}
          </td> -->
          <td>
            {{city.type}}
          </td>
          <td>
            <fa-icon [icon]="faCheckCircle" *ngIf="city.active"></fa-icon>
            <fa-icon [icon]="faBan" *ngIf="!city.active"></fa-icon>
          </td>
          <td>
            <div class="field is-grouped">
              <p class="control">
                <a [routerLink]="['/cities/edit', city.key]" class="button is-primary is-small">Edit</a>
              </p>
              <p class="control">
                <a (click)="deleteItem(city.key, i)" [class.is-loading]="isDeletingItem && itemToDelete == i" class="button is-danger is-small">Delete</a>
              </p>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>