.symbols {
    text-align: center;
    cursor: pointer;

    &.selected {
        background-color: whitesmoke;
    }

    &:hover {
        opacity: 0.75;
    }

    .full {
        margin-right: 5px;
        font-size: 24px;
    }

    .empty {
        margin-left: 5px;
        font-size: 14px;
    }

    p {
        margin-top: 5px;
        font-size: 10px;
    }
}