<div class="box" *ngIf="debug">
  <p>Form value: {{ typeForm.value | json }}</p>
  <p>Form status: {{ typeForm.status | json }} - Touched: {{ typeForm.touched }} - Dirty: {{ typeForm.dirty }}</p>
</div>

<div class="list-header is-clearfix">
  <h1 *ngIf="!isNewItem" class="title is-pulled-left">Edit {{itemSingular | titlecase}}</h1>
  <h1 *ngIf="isNewItem" class="title is-pulled-left">New {{itemSingular | titlecase}}</h1>
</div>

<hr>

<div class="box">
  <form [formGroup]="typeForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.name"
                  type="text" 
                  placeholder="Name" 
                  id="name" 
                  class="input" 
                  formControlName="name" 
                  required 
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.name" class="help is-danger">{{ formErrors.name }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Slug</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control has-icons-right">
              <input 
                class="input" 
                [class.is-danger]="formErrors.slug"
                type="text" 
                placeholder="Slug" 
                id="slug" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
              <span class="icon is-small is-right" *ngIf="formErrors.name">
                <fa-icon [icon]="faBan"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!formErrors.name">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>
            </p>
            <p *ngIf="formErrors.slug" class="help is-danger">{{ formErrors.slug }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Symbol</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control">
              <div id="symbolsContainer" style="max-width: 600px;">
                <div class="columns is-multiline">
                  <div class="column is-2" *ngFor="let shape of shapes; let i = index">
                    <div 
                      class="box symbols" 
                      [class.selected]="typeForm.get('symbol').value == shape" 
                      (click)="selectSymbol( shape )"
                    >
                      <app-symbol [type]="shape" [fillColor]="'none'" [strokeColor]="'#363636'" [strokeWidth]="2"></app-symbol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
              <textarea 
                class="textarea" 
                [class.is-danger]="formErrors.description"
                placeholder="Description" 
                id="description" 
                formControlName="description" 
              ></textarea>
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button 
                (click)="save()" 
                [class.is-loading]="isSaving" 
                class="button is-primary is-block is-fullwidth is-large" 
                [disabled]="!(typeForm.status == 'VALID')"
              >Save</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>