/* LAYOUT */
$baseH: 30px;

/* COLORS */
$lightGrey: #E6E6E6;
$textGrey: #333333;
$mediumGrey: rgba($textGrey, .35);
$inputGrey: #E2DCDE;
$red: #C53831;
$brickRed: #B13343;
$purple: #56267D;
$titlePurple: #4D176E;
$titleOrange: #CA5227;
$white: #ffffff;
$black: #000000;

/* TYPE */
$headings: 'Raleway', sans-serif;
$bodies: 'Raleway', sans-serif;
$baseFontSize: 1rem;
$bodyColor: $textGrey;

/* DEPTH */
$baseIndex: 0;

/* MAIN NAV */
$mainNavH: $baseH * 2;
$mainNavPadding: $baseH / 2;
$mainNavIndex: 30;

/* SIDEBAR */
$sidebarPadding: $baseH;
$sidebarIndex: 10;

/* MAIN CONTENT */
$mainContentPadding: $baseH;
$mainContentIndex: $baseIndex;
$mainContentLoginFormTopMargin: $baseH * 3;

/* FOOTER */
$footerH: $baseH;
$footerPadding: $baseH / 2 $baseH;
$footerIndex: 20;
$footerColor: $white;
$footerBackground: $textGrey;

/* TABLES */
$tableCellPadding: $baseH / 2;

/* FORMS */
$inputFontSize: $baseFontSize * 1.25;
$inputPadding: $baseH / 4 0;
$inputColor: $mediumGrey;
$inputBorderColor: $lightGrey;
$inputFocusColor: $purple;
$inputFocusBorderColor: $purple;

/* SCROLLBARS */
$scrollBarW: $baseH / 6;
$scrollBarThumbColor: $purple;