<div class="box list-container">
  <div class="list-header is-clearfix">
    <div class="title-box is-pulled-left">
      <h1 class="title">Rock category types</h1>
      <h3 class="subtitle" *ngIf="showSpinner">Loading...</h3>
    </div>
    <a class="new-item-button button is-primary is-pulled-right" [routerLink]="['/rock-category-types/new']">
      <span class="icon">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
      <span>Create new ROCK category type</span>
    </a>
  </div>

  <hr>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Last updated</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of types | async; let i = index">
        <td>{{type.name}}</td>

        <td *ngIf="type.symbol; else noTypes">
          <!-- <fa-icon [icon]="type.symbol.full"></fa-icon> -->
          <span style="width: 20px; height: 20px; display: inline-block;">
            <app-symbol [type]="type.symbol" [fillColor]="'#363636'" [strokeColor]="'none'"></app-symbol>
          </span>
        </td>
        <ng-template #noTypes>
          <td>
            <span class="icon is-small is-right">
              <fa-icon [icon]="faBan"></fa-icon>
            </span>
          </td>
        </ng-template>

        <td>{{type.lastUpdated | date}}</td>

        <td>
          <div class="field is-grouped">
            <p class="control">
              <a [routerLink]="['/rock-category-types/edit', type.key]" class="button is-primary is-small">Edit</a>
            </p>
            <p class="control">
              <a (click)="deleteItem(type.key, i)" [class.is-loading]="isDeletingItem && itemToDelete == i" class="button is-danger is-small">Delete</a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>