<!-- <div class="columns"> -->
	<!-- <div class="column is-half is-offset-one-quarter"> -->
		<div class="box">
			<form [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()">
				<div class="field">
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="email" placeholder="Email" id="email" class="input" formControlName="email" required>
						<span class="icon is-small is-left">
							<fa-icon [icon]="faEnvelope"></fa-icon>
						</span>
						<span class="icon is-small is-right" *ngIf="!formErrors.email">
							<fa-icon [icon]="faCheck"></fa-icon>
						</span>
					</p>
					<p *ngIf="formErrors.email" class="help is-danger">{{ formErrors.email }}</p>
				</div>

				<div class="field">
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="password" id="password" placeholder="Password" formControlName="password" required>
						<span class="icon is-small is-left">
							<fa-icon [icon]="faLock"></fa-icon>
						</span>
						<span class="icon is-small is-right" *ngIf="!formErrors.password">
							<fa-icon [icon]="faCheck"></fa-icon>
						</span>
					</p>
					<p *ngIf="formErrors.password" class="help is-danger">{{ formErrors.password }}</p>
				</div>

				<div class="field">
					<p class="control">
						<button type="submit" class="button is-success" [disabled]="!userForm.valid">
							Login
						</button>
					</p>
				</div>

				<span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>

				<a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
				<p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
			</form>
		</div>
	<!-- </div> -->
<!-- </div> -->