<div class="draw-controls">
    <ng-container [ngSwitch]="drawMode">
        <div class="buttons">
            <ng-container *ngSwitchCase="'point'">
                <a (click)="deleteSelectedMarkers()" class="button is-small">Delete marker</a>
            </ng-container>

            <ng-container *ngSwitchCase="'multiPoints'">
                <a (click)="deleteAllMarkers()" class="button is-small">Delete all</a>
                <a (click)="deleteSelectedMarkers()" class="button is-small">Delete selected</a>
            </ng-container>

            <ng-container *ngSwitchCase="'areaStroke'">
                <a (click)="deleteArea()" class="button is-small">Delete area</a>
                <a (click)="deleteLastVertex()" class="button is-small">Delete last vertex</a>
                <a (click)="closeArea()" class="button is-small">Close area</a>
            </ng-container>

            <ng-container *ngSwitchCase="'areaFill'">
                <a (click)="deleteArea()" class="button is-small">Delete area</a>
                <a (click)="deleteLastVertex()" class="button is-small">Delete last vertex</a>
                <a (click)="closeArea()" class="button is-small">Close area</a>
            </ng-container>

            <a (click)="toggleFeatures()" class="button is-small">Toggle features</a>
        </div>
    </ng-container>
</div>

<br>

<div class="map" id="map"></div>