<div id="shell">
    <app-main-nav id="mainNav"></app-main-nav>
    <aside class="menu rock-sidebar" id="sidebar" *ngIf="auth.user | async;"></aside>
    <section class="section" id="mainContent" [ngClass]="{shifted: auth.user | async}">
        <router-outlet></router-outlet>
    </section>
    <rock-footer id="footer"></rock-footer>
</div>

<notification-message></notification-message>