<article 
	*ngIf="notify.msg | async as msg" 
	class="message" 
	id="notificationContainer" 
	[ngClass]="{ 
		'is-danger': msg.style == 'error',
		'is-success': msg.style == 'success',
		'is-info': msg.style == 'info',
		'is-warning': msg.style == 'warning'
	}"
>
	<div class="message-header">
		<p>{{ msg.header }}</p>
		<button class="delete" aria-label="delete" (click)="notify.clear()"></button>
	</div>
	<div class="message-body">{{ msg.content }}</div>
</article>