<div *ngIf="!(auth.user | async); else alreadyLoggedIn">
    <div class="box">
        <h1>Welcome to ROCK Atlas CMS</h1>
        <hr>
        <a class="button is-primary is-large is-fullwidth" [routerLink]="['/login']">LOGIN</a>
    </div>
</div>

<ng-template #alreadyLoggedIn>
    <div class="box">
        <h1>ROCK Atlas dashboard</h1>
        
        <hr>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="has-text-centered">
                        <p class="title has-text-weight-bold">
                            <span class="tag is-large is-primary" *ngIf="!actions">--</span>
                            <span class="tag is-large is-primary" *ngIf="actions">{{actions.length}}</span>
                        </p>
                        <p class="subtitle">ROCK Actions</p>
                    </div>

                    <hr>

                    <div class="level">
                        <div class="level-right">
                            <a class="button is-primary" [routerLink]="['/actions']">View all</a>
                        </div>

                        <div class="level-right">
                            <div class="dropdown is-right" [class.is-active]="ddState.actions">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdownActions" (click)="toggleDropDown('actions')" (blur)="ddState['actions']=false;">
                                        <span>Search</span>
                                        <span class="icon is-small"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                                    </button>
                                </div>

                                <div class="dropdown-menu" id="dropdownActions" role="menu" *ngIf="filteredActions">
                                    <div class="dropdown-content">
                                        <div class="field dropdown-item">
                                            <div class="control has-icons-left">
                                                <input (input)="onSearchChange($event.target.value, 'filteredActions')" type="text" placeholder="Type to filter" class="input is-transparent">
                                                <span class="icon is-left"><fa-icon [icon]="faSearch"></fa-icon></span>
                                            </div>
                                        </div>

                                        <hr class="dropdown-divider">

                                        <a 
                                            class="dropdown-item" 
                                            [routerLink]="['/actions/edit/' + action.key]" 
                                            *ngFor="let action of filteredActions"
                                        >
                                            {{action.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="box">
                    <div class="has-text-centered">
                        <p class="title has-text-weight-bold">
                            <span class="tag is-large is-primary" *ngIf="!contexts">--</span>
                            <span class="tag is-large is-primary" *ngIf="contexts">{{contexts.length}}</span>
                        </p>
                        <p class="subtitle">Cultural Context items</p>
                    </div>

                    <hr>

                    <div class="level">
                        <div class="level-right">
                            <a class="button is-primary" [routerLink]="['/contexts']">View all</a>
                        </div>

                        <div class="level-right">
                            <div class="dropdown is-right" [class.is-active]="ddState.contexts">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdownContexts" (click)="toggleDropDown('contexts')" (blur)="ddState['contexts']=false;">
                                        <span>Search</span>
                                        <span class="icon is-small"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                                    </button>
                                </div>

                                <div class="dropdown-menu" id="dropdownContexts" role="menu" *ngIf="filteredContexts">
                                    <div class="dropdown-content">
                                        <div class="field dropdown-item">
                                            <div class="control has-icons-left">
                                                <input (input)="onSearchChange($event.target.value, 'filteredContexts')" type="text" placeholder="Type to filter" class="input is-transparent">
                                                <span class="icon is-left"><fa-icon [icon]="faSearch"></fa-icon></span>
                                            </div>
                                        </div>

                                        <hr class="dropdown-divider">

                                        <a 
                                            class="dropdown-item" 
                                            [routerLink]="['/contexts/edit/' + context.key]" 
                                            *ngFor="let context of filteredContexts"
                                        >
                                            {{context.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="has-text-centered">
                        <p class="title has-text-weight-bold">
                            <span class="tag is-large is-primary" *ngIf="!cities">--</span>
                            <span class="tag is-large is-primary" *ngIf="cities">{{cities.length}}</span>
                        </p>
                        <p class="subtitle">ROCK cities</p>
                    </div>

                    <hr>

                    <div class="level">
                        <div class="level-right">
                            <a class="button is-primary" [routerLink]="['/cities']">View all</a>
                        </div>

                        <div class="level-right">
                            <div class="dropdown is-right" [class.is-active]="ddState.cities">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdownCities" (click)="toggleDropDown('cities')" (blur)="ddState['cities']=false;">
                                        <span>Search</span>
                                        <span class="icon is-small"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                                    </button>
                                </div>

                                <div class="dropdown-menu" id="dropdownCities" role="menu" *ngIf="filteredCities">
                                    <div class="dropdown-content">
                                        <div class="field dropdown-item">
                                            <div class="control has-icons-left">
                                                <input (input)="onSearchChange($event.target.value, 'filteredCities')" type="text" placeholder="Type to filter" class="input is-transparent">
                                                <span class="icon is-left"><fa-icon [icon]="faSearch"></fa-icon></span>
                                            </div>
                                        </div>

                                        <hr class="dropdown-divider">

                                        <a 
                                            class="dropdown-item" 
                                            [routerLink]="['/cities/edit/' + city.key]" 
                                            *ngFor="let city of filteredCities"
                                        >
                                            {{city.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="box">
                    <div class="has-text-centered">
                        <p class="title has-text-weight-bold">
                            <span class="tag is-large is-primary" *ngIf="!categories">--</span>
                            <span class="tag is-large is-primary" *ngIf="categories">{{categories.length}}</span>
                        </p>
                        <p class="subtitle">ROCK categories</p>
                    </div>

                    <hr>

                    <div class="level">
                        <div class="level-right">
                            <a class="button is-primary" [routerLink]="['/rock-categories']">View all</a>
                        </div>

                        <div class="level-right">
                            <div class="dropdown is-right" [class.is-active]="ddState.categories">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdownCategories" (click)="toggleDropDown('categories')" (blur)="ddState['categories']=false;">
                                        <span>Search</span>
                                        <span class="icon is-small"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                                    </button>
                                </div>

                                <div class="dropdown-menu" id="dropdownCategories" role="menu" *ngIf="filteredCategories">
                                    <div class="dropdown-content">
                                        <div class="field dropdown-item">
                                            <div class="control has-icons-left">
                                                <input (input)="onSearchChange($event.target.value, 'filteredCategories')" type="text" placeholder="Type to filter" class="input is-transparent">
                                                <span class="icon is-left"><fa-icon [icon]="faSearch"></fa-icon></span>
                                            </div>
                                        </div>

                                        <hr class="dropdown-divider">

                                        <a 
                                            class="dropdown-item" 
                                            [routerLink]="['/rock-categories/edit/' + category.key]" 
                                            *ngFor="let category of filteredCategories"
                                        >
                                            {{category.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="box">
                    <div class="has-text-centered">
                        <p class="title has-text-weight-bold">
                            <span class="tag is-large is-primary" *ngIf="!types">--</span>
                            <span class="tag is-large is-primary" *ngIf="types">{{types.length}}</span>
                        </p>
                        <p class="subtitle">ROCK category types</p>
                    </div>

                    <hr>

                    <div class="level">
                        <div class="level-right">
                            <a class="button is-primary" [routerLink]="['/rock-category-types']">View all</a>
                        </div>

                        <div class="level-right">
                            <div class="dropdown is-right" [class.is-active]="ddState.types">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdownTypes" (click)="toggleDropDown('types')" (blur)="ddState['types']=false;">
                                        <span>Search</span>
                                        <span class="icon is-small"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                                    </button>
                                </div>

                                <div class="dropdown-menu" id="dropdownTypes" role="menu" *ngIf="filteredTypes">
                                    <div class="dropdown-content">
                                        <div class="field dropdown-item">
                                            <div class="control has-icons-left">
                                                <input (input)="onSearchChange($event.target.value, 'filteredTypes')" type="text" placeholder="Type to filter" class="input is-transparent">
                                                <span class="icon is-left"><fa-icon [icon]="faSearch"></fa-icon></span>
                                            </div>
                                        </div>

                                        <hr class="dropdown-divider">

                                        <a 
                                            class="dropdown-item" 
                                            [routerLink]="['/rock-category-types/edit/' + type.key]" 
                                            *ngFor="let type of filteredTypes"
                                        >
                                            {{type.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="columns">
            <div class="column">
                <a (click)="exportDB()" class="button is-primary">
                    <span class="icon">
                        <fa-icon [icon]="faFileExport"></fa-icon>
                    </span>
                    <span>Export Database to JSON file</span>
                </a>
            </div>
        </div>
    </div>
</ng-template>