<!-- <p>Form value: {{ cityForm.value | json }}</p>
<p>Form status: {{ cityForm.status | json }} - {{ cityForm.touched }}</p> -->

<div class="list-header is-clearfix">
  <h1 *ngIf="!isNewItem" class="title is-pulled-left">Edit {{itemSingular | titlecase}}</h1>
  <h1 *ngIf="isNewItem" class="title is-pulled-left">New {{itemSingular | titlecase}}</h1>
</div>

<hr>

<div class="box">
  <form [formGroup]="cityForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.name"
                  type="text" 
                  placeholder="Name" 
                  id="name" 
                  class="input" 
                  formControlName="name" 
                  required 
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.name" class="help is-danger">{{ formErrors.name }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Slug</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.slug"
                  type="text" 
                  placeholder="Slug" 
                  id="slug" 
                  formControlName="slug" 
                  required 
                  [attr.disabled]="true"
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.slug" class="help is-danger">{{ formErrors.slug }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Type</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.type">
                  <select 
                    id="type" 
                    formControlName="type" 
                    required
                  >
                    <option value="replicator">Replicator</option>
                    <option value="model">Model</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.type" class="help is-danger">{{ formErrors.type }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Location</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box">
              <map-box 
                *ngIf="city | async; else emptyMap" 
                [center]="location" 
                [containerH]="'350px'" 
                (onMapLoad)="onMapLoad( $event )" 
                (onMapClick)="onMapClick( $event )"
              ></map-box>
              <ng-template #emptyMap>
                  <map-box 
                    [containerH]="'350px'" 
                    (onMapLoad)="onMapLoad( $event )" 
                    (onMapClick)="onMapClick( $event )"
                  ></map-box>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
                <textarea 
                  class="textarea" 
                  [class.is-danger]="formErrors.description"
                  placeholder="Description" 
                  id="description" 
                  formControlName="description" 
                ></textarea>
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Population</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control has-icons-right">
              <input 
                class="input" 
                type="text" 
                placeholder="Population" 
                id="population" 
                class="input" 
                formControlName="population" 
                required 
              >
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Images & videos</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box media-container">
              <div class="columns is-multiline">
                <div *ngFor="let image of cityForm.get('images').value; let i = index;" class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-16by9">
                        <cl-image public-id="{{image.public_id}}">
                          <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-image>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p class="is-size-7 has-text-weight-semibold">
                          {{ image.original_filename }}.{{ image.format }}
                          <time datetime="2018-1-1" class="is-size-7"> - {{ image.created_at | date: 'dd/MM/yyyy' }}</time>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="button is-small is-danger card-footer-item" (click)="deleteImage(i)">Delete image</a>
                    </footer>
                  </div>
                </div>

                <div *ngFor="let video of cityForm.get('videos').value; let i = index;" class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="video is-16by9">
                        <cl-video 
                          public-id="{{video.public_id}}" 
                          fallback-content="Your browser does not support HTML5 video tags" 
                          controls
                        >
                          <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-video>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p class="is-size-7 has-text-weight-semibold">
                          {{ video.original_filename }}.{{ video.format }}
                          <time datetime="2018-1-1" class="is-size-7"> - {{ video.created_at | date: 'dd/MM/yyyy' }}</time>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="button is-small is-danger card-footer-item" (click)="deleteVideo(i)">Delete video</a>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Upload files</label>
        </div>

        <div class="field-body">
          <div class="field">
            <form-uploader 
              [icon]="faUpload" 
              (onUploadResult)="onUploadResult( $event )" 
              (onAfterAddingFile)="onAfterAddingFile( $event )"
            ></form-uploader>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button 
                (click)="save()" 
                [class.is-loading]="isSaving" 
                class="button is-primary is-block is-fullwidth is-large" 
                [disabled]="!(cityForm.status == 'VALID')"
              >Save</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>