@import "~styles/variables.scss";

.box {
    position: relative;

    .delete {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $red;
        color: $white;

        &:hover {
            opacity: 0.5;
        }
    }
}