<div class="box" *ngIf="debug">
  <!-- <p>City: {{ contextForm.get('city').value | json }}</p>
  <p>Category: {{ contextForm.get('ROCKcategory').value | json }}</p>
  <p>Type: {{ contextForm.get('type').value | json }} - Location: {{ contextForm.get('geolocation').value | json }} - Geomode: {{ geoMode }}</p>
  <p>Area points: {{ contextForm.get('area').value ? contextForm.get('area').value.length : 0 }}</p> -->
  <!-- <p>Multi points: {{ contextForm.get('points').value ? contextForm.get('points').value.length : 0 }}</p> -->
  <!-- <p>Address: {{ contextForm.get('address').value | json }}</p> -->
  <!-- <p>Category types: {{ categoryTypes | json }}</p> -->
  <!-- <p>Stakeholders: {{ contextForm.get('stakeholders').value | json }}</p> -->
  <p>Related action: {{ contextForm.get('relatedActions').value | json }}</p>
  <p>Form status: {{ contextForm.status | json }} - Touched: {{ contextForm.touched }} - Dirty: {{ contextForm.dirty }}</p>
</div>

<div class="list-header is-clearfix">
  <h1 *ngIf="!isNewItem" class="title is-pulled-left">Edit {{itemSingular | titlecase}}</h1>
  <h1 *ngIf="isNewItem" class="title is-pulled-left">New {{itemSingular | titlecase}}</h1>
</div>

<hr>

<div class="box">
  <form [formGroup]="contextForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.name"
                  type="text" 
                  placeholder="Name" 
                  id="name" 
                  class="input" 
                  formControlName="name" 
                  required 
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.name" class="help is-danger">{{ formErrors.name }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Slug</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.slug"
                  type="text" 
                  placeholder="Slug" 
                  id="slug" 
                  formControlName="slug" 
                  required 
                  [attr.disabled]="true"
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.slug" class="help is-danger">{{ formErrors.slug }}</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Model city</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.city">
                  <select 
                    id="city" 
                    formControlName="city" 
                    required
                  >
                    <option *ngFor="let city of cities | async" [value]="city.key">{{city.name}}</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.city" class="help is-danger">{{ formErrors.city }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">ROCK category</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.ROCKcategory">
                  <select 
                    id="ROCKcategory" 
                    formControlName="ROCKcategory" 
                    required
                  >
                    <option *ngFor="let cat of categories | async" [value]="cat.key">{{cat.name}}</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.ROCKcategory" class="help is-danger">{{ formErrors.ROCKcategory }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" *ngIf="categoryTypes">
        <div class="field-label is-normal">
          <label class="label">ROCK type</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.ROCKcategory">
                  <select 
                    id="ROCKtype" 
                    formControlName="ROCKtype" 
                    required
                  >
                    <option *ngFor="let type of categoryTypes" [value]="type.key">{{type.name}}</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.ROCKtype" class="help is-danger">{{ formErrors.ROCKtype }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Georeference type</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.type">
                  <select 
                    id="type" 
                    formControlName="type" 
                    required 
                  >
                    <option [selected]="contextForm.get('type').value == 'point'" value="point">Point</option>
                    <option [selected]="contextForm.get('type').value == 'multiPoints'" value="multiPoints">Multiple points</option>
                    <option [selected]="contextForm.get('type').value == 'areaStroke'" value="areaStroke">Area stroke</option>
                    <option [selected]="contextForm.get('type').value == 'areaFill'" value="areaFill">Area Fill</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.type" class="help is-danger">{{ formErrors.type }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Georeference</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box">
              <map-box 
                *ngIf="context | async; else emptyMap" 
                [center]="location" 
                [zoom]="12" 
                [containerH]="'350px'" 
                [drawMode]="geoMode" 
                [areaCoords]="contextForm.get('area').value" 
                [markers]="contextForm.get('points').value"
                (onMapLoad)="onMapLoad( $event )" 
                (onMapClick)="onMapClick( $event )"
              ></map-box>
              <ng-template #emptyMap>
                  <map-box 
                    [containerH]="'350px'" 
                    (onMapLoad)="onMapLoad( $event )" 
                    (onMapClick)="onMapClick( $event )"
                  ></map-box>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" *ngIf="geoMode != 'point' && geoMode != 'multiPoints'">
        <div class="field-label is-normal">
          <label class="label">&nbsp;</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control buttons">
              <button class="button is-primary is-outlined" (click)="deleteArea()">
                Delete area
              </button>
              <button class="button is-primary is-outlined" (click)="map.removeLastPoint()">
                Delete last point
              </button>
              <button class="button is-primary is-outlined" (click)="map.closeAreaPolygon()">
                Close area
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="field is-horizontal" *ngIf="geoMode == 'multiPoints'">
        <div class="field-label is-normal">
          <label class="label">&nbsp;</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control buttons">
              <button 
                class="button is-danger is-outlined is-small" 
                *ngFor="let point of contextForm.get('points').value; let i = index" 
                (click)="removeMultiPoint(i)"
              >{{ i + 1 }} | x {{ point | json }}</button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Status</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select is-fullwidth">
                <select id="status" formControlName="status">
                  <option value="default">--- Choose a status ---</option>
                  <option value="full">Full</option>
                  <option value="empty">Empty</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div class="select is-fullwidth" *ngIf="contextForm.get('status').value == 'full'">
                <select id="substatus" formControlName="substatus">
                  <option value="default">--- Choose a substatus ---</option>
                  <option value="in-place">In place</option>
                  <option value="finished">Finished</option>
                </select>
              </div>
        
              <div class="select is-fullwidth" *ngIf="contextForm.get('status').value == 'empty'">
                <select id="substatus" formControlName="substatus">
                  <option value="default">--- Choose a substatus ---</option>
                  <option value="programmed">Programmed</option>
                  <option value="proposed">Proposed</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Address</label>
        </div>

        <div class="field-body" formGroupName="address">
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                type="text" 
                placeholder="Street Address" 
                id="addressStreet" 
                class="input" 
                formControlName="street" 
              >
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                type="text" 
                placeholder="Locality" 
                id="addressLocality" 
                class="input" 
                formControlName="locality" 
              >
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                type="text" 
                placeholder="Country" 
                id="addressCountry" 
                class="input" 
                formControlName="country" 
              >
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                type="text" 
                placeholder="Postal code" 
                id="addressZipcode" 
                class="input" 
                formControlName="zipcode" 
              >
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Time period</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
              <input 
                [dpDayPicker]="dpConfig" 
                class="input" 
                type="text" 
                placeholder="Start date" 
                formControlName="startDate"
              >
            </p>
            <p id="dpContainer"></p>
          </div>
          <div class="field">
            <p class="control">
              <input 
                [dpDayPicker]="dpConfig" 
                class="input" 
                type="text" 
                placeholder="End date" 
                formControlName="endDate"
              >
            </p>
            <p id="dpContainer"></p>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Summary</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
                <textarea 
                  class="textarea" 
                  [class.is-danger]="formErrors.description"
                  placeholder="Item's short description (a.k.a summary)" 
                  id="summary" 
                  formControlName="summary" 
                ></textarea>
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
                <textarea 
                  class="textarea" 
                  [class.is-danger]="formErrors.description"
                  placeholder="Item's extended description" 
                  id="description" 
                  formControlName="description" 
                ></textarea>
              </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Stakeholders</label>
        </div>

        <div class="field-body" formGroupName="newStakeholder">
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                type="text" 
                placeholder="New stakeholder Name" 
                id="newStakeholderName" 
                formControlName="name" 
              >
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                type="text" 
                placeholder="New stakeholder website url" 
                id="newStakeholderUrl" 
                formControlName="url"
              >
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary is-outlined is-block is-fullwidth" (click)="addNewStakeholder()">Add new stakeholder</button>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"></div>

        <div class="field-body">
          <table class="table is-hoverable is-fullwidth is-narrow">
            <tbody>
              <tr *ngFor="let sh of contextForm.get('stakeholders').value; let i = index">
                <td>{{ sh.name }}</td>
                <td>{{ sh.url }}</td>
                <td>
                  <button 
                    class="button is-danger is-outlined is-pulled-right is-small" 
                    (click)="deleteStakeholder(i)"
                  >
                    Delete stakeholder
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Links</label>
        </div>

        <div class="field-body" formGroupName="newLink">
            <div class="field">
              <p class="control">
                <input 
                  class="input" 
                  type="text" 
                  placeholder="New link label" 
                  id="newLinkLabel" 
                  formControlName="label" 
                >
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input 
                  class="input" 
                  type="text" 
                  placeholder="New link url" 
                  id="newLinkUrl" 
                  formControlName="url"
                >
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-primary is-outlined is-block is-fullwidth" (click)="addNewLink()">Add new link</button>
              </p>
            </div>
          </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"></div>

        <div class="field-body">
          <table class="table is-hoverable is-fullwidth is-narrow">
            <tbody>
              <tr *ngFor="let link of contextForm.get('links').value; let i = index">
                <td>{{ link.label }}</td>
                <td>{{ link.url }}</td>
                <td>
                  <button 
                    class="button is-danger is-outlined is-pulled-right is-small" 
                    (click)="deleteLink(i)"
                  >
                    Delete link
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Images & videos</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box media-container">
              <div class="columns is-multiline">
                <div *ngFor="let image of contextForm.get('images').value; let i = index;" class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-16by9">
                        <cl-image public-id="{{image.public_id}}">
                          <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-image>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p class="is-size-7 has-text-weight-semibold">
                          {{ image.original_filename }}.{{ image.format }}
                          <time datetime="2018-1-1" class="is-size-7"> - {{ image.created_at | date: 'dd/MM/yyyy' }}</time>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="button is-small is-danger card-footer-item" (click)="deleteImage(i)">Delete image</a>
                    </footer>
                  </div>
                </div>

                <div *ngFor="let video of contextForm.get('videos').value; let i = index;" class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="video is-16by9">
                        <cl-video 
                          public-id="{{video.public_id}}" 
                          fallback-content="Your browser does not support HTML5 video tags" 
                          controls
                        >
                          <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-video>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p class="is-size-7 has-text-weight-semibold">
                          {{ video.original_filename }}.{{ video.format }}
                          <time datetime="2018-1-1" class="is-size-7"> - {{ video.created_at | date: 'dd/MM/yyyy' }}</time>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="button is-small is-danger card-footer-item" (click)="deleteVideo(i)">Delete video</a>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Upload files</label>
        </div>

        <div class="field-body">
          <div class="field">
            <form-uploader 
              [icon]="faUpload" 
              (onUploadResult)="onUploadResult( $event )" 
              (onAfterAddingFile)="onAfterAddingFile( $event )"
            ></form-uploader>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Related actions</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box">
              <div class="buttons">
                <button 
                  class="button is-primary" 
                  *ngFor="let relatedAction of contextForm.get('relatedActions').value; let i = index" 
                  (click)="deleteRelatedAction( i )"
                >{{ relatedAction.name }} | x</button>
              </div>
            </div>
            <div class="box">
              <div class="buttons">
                <button 
                  class="button is-small is-default" 
                  *ngFor="let action of actions | async" 
                  (click)="addRelatedAction( { key: action.key, name: action.name } )"
                >{{ action.name }} | +</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Related practices</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box">
              <div class="buttons">
                <button 
                  class="button is-primary" 
                  *ngFor="let relatedPractice of contextForm.get('relatedPractices').value; let i = index" 
                  (click)="deleteRelatedPractice( i )"
                >{{ relatedPractice.name }} | x</button>
              </div>
            </div>
            <div class="box">
              <div class="buttons">
                <button 
                  class="button is-small is-default" 
                  *ngFor="let practice of practices | async" 
                  (click)="addRelatedPractice( { key: practice.key, name: practice.name } )"
                >{{ practice.name }} | +</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label"></div>
        
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button 
                (click)="storyModalOpen = true" 
                class="button is-block is-fullwidth is-normal is-light" 
              >Edit longform story</button>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label"></div>
        
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button 
                (click)="save()" 
                [class.is-loading]="isSaving" 
                class="button is-primary is-block is-fullwidth is-large" 
                [disabled]="!(contextForm.status == 'VALID')"
              >Save</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

<div class="modal" [class.is-active]="storyModalOpen">
  <div class="modal-background" (click)="storyModalOpen = false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Longform story editor</p>
      <button class="delete" aria-label="close" (click)="storyModalOpen = false"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="buttons">
          <div class="button" (click)="addBlock('title')">Add title</div>
          <div class="button" (click)="addBlock('text')">Add text</div>
          <form-uploader-button 
            [class.is-loading]="isUploadingBlock"
            class="button" 
            [label]="'Add image or video'" 
            (onUploadResult)="onUploadResultBlock( $event )" 
            (onAfterAddingFile)="onAfterAddingFileBlock( $event )"
          ></form-uploader-button>
        </div>

        <hr>

        <div dnd-sortable-container [sortableData]="contextForm.get('blocks').value">
          <div 
            class="box" 
            *ngFor="let block of contextForm.get('blocks').value; let i = index" 
            dnd-sortable [sortableIndex]="i" 
            [dragEnabled]="true"
            (onDropSuccess)="onDrop(context)"
          >
            <div class="block" [ngSwitch]="block.type">
              <ng-container *ngSwitchCase="'title'">
                <!-- <h1>{{ block.content }}</h1> -->
                <div class="field">
                  <div class="control">
                    <input 
                      class="input" 
                      type="text" 
                      placeholder="Enter a title" 
                      [(ngModel)]="block.content" 
                      [name]="title + i" 
                    >
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'text'">
                <!-- <p>{{ block.content }}</p> -->
                <div class="field">
                  <div class="control">
                    <textarea 
                      class="textarea" 
                      placeholder="Type a paragraph" 
                      [(ngModel)]="block.content" 
                    ></textarea>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'image'">
                  <figure class="image is-16by9">
                    <cl-image public-id="{{block.content.public_id}}">
                      <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                    </cl-image>
                  </figure>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button (click)="save()" [class.is-loading]="isSaving" class="button is-primary">Save changes</button>
      <button class="button" (click)="storyModalOpen = false">Cancel</button>
    </footer>
  </div>
</div>