<div class="box" *ngIf="debug">
  <div class="buttons">
    <a class="button is-primary is-outlined is-small" (click)="resetItemsOrder()">
      <span>Reset Items Order</span>
    </a>
    
    <a class="button is-primary is-outlined is-small" (click)="resetTypes()">
      <span>Reset types</span>
    </a>

    <a class="button is-primary is-outlined is-small" (click)="resetCity()">
      <span>Reset city</span>
    </a>

    <a class="button is-primary is-outlined is-small" (click)="saveAll()">
      <span>Save all</span>
    </a>
  </div>
  <hr>
  <p>Current page: {{ currentPage }}</p>
</div>

<div class="box list-container">
  <div class="list-header is-clearfix">
    <div class="title-box is-pulled-left">
      <h1 class="title">Model practices</h1>
      <h3 class="subtitle" *ngIf="showSpinner">Loading...</h3>
    </div>

    <a class="new-item-button button is-primary is-pulled-right" [routerLink]="['/model-practices/new']">
      <span class="icon">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
      <span>Create new model practice</span>
    </a>
  </div>

  <hr>

  <div class="form">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field" *ngIf="paginationEnabled">
          <label class="label is-small">Items per page</label>
          <div class="control">
            <div class="select is-small is-fullwidth">
              <select [ngModel]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)">
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field" style="max-width: 120px;">
          <label class="label is-small">Filter by name</label>
          <div class="control is-expanded has-icons-right">
            <input 
              class="input is-small" 
              type="text" 
              placeholder="Type the name to filter" 
              [ngModel]="nameFilter" 
              (ngModelChange)="onNameFilterChange($event)"
            >
            <span 
              class="icon is-small is-right" 
              (click)="resetNameFilter()" 
              style="pointer-events: initial; cursor: pointer;"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label is-small">&nbsp;</label>
          <div class="control"></div>
        </div>

        <div class="field" style="max-width: 120px;">
          <label class="label is-small">Filter by category</label>
          <div class="control">
            <div class="select is-small">
              <select [ngModel]="categoryFilter" (ngModelChange)="onCategoryFilterChange($event)">
                <option value="none">None</option>
                <option *ngFor="let cat of categories" value="{{cat.key}}">{{cat.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field" style="max-width: 120px;">
          <label class="label is-small">Filter by type</label>
          <div class="control">
            <div class="select is-small">
              <select [ngModel]="typeFilter" (ngModelChange)="onTypeFilterChange($event)">
                <option value="none">None</option>
                <option *ngFor="let type of types" value="{{type.key}}">{{type.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label is-small">Filter by city</label>
          <div class="control">
            <div class="select is-small">
              <select [ngModel]="cityFilter" (ngModelChange)="onCityFilterChange($event)">
                <option value="none">None</option>
                <ng-container *ngFor="let city of cities">
                  <option *ngIf="city.type == 'replicator'" value="{{city.key}}">{{city.name}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label is-small">&nbsp;</label>
          <div class="control"></div>
        </div>

        <div class="field">
          <label class="label is-small">Reset items order</label>
          <div class="control">
            <a class="button is-primary is-fullwidth is-outlined is-small" (click)="resetItemsOrder()">
              <span>Reset Items Order</span>
            </a>
          </div>
        </div>

        <div class="field">
          <label class="label is-small">Save new order</label>
          <div class="control">
            <a 
              class="button is-primary is-fullwidth is-small" 
              [class.is-loading]="isSavingOrder"
              (click)="saveAll()"
            >
              <span>Save all</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Order</th>
        <th>Name</th>
        <th>ROCK category</th>
        <th>ROCK type</th>
        <th>Geo type</th>
        <th>City</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody dnd-sortable-container [sortableData]="contexts">
      <!-- <tr *ngFor="let context of contextsObs | async; let i = index"> -->
      <ng-container *ngFor="let context of contexts; let i = index">
        <tr 
          *ngIf="!context.hidden" 
          dnd-sortable [sortableIndex]="i" 
          [dragEnabled]="true"
          (onDropSuccess)="onDrop(context)" 
          (onDragStart)="onDragStart( context )"
        >
          <td>{{ context.order }}</td>
          <td>{{ context.name }}</td>
          <td>{{ getCatName( context.ROCKcategory ) }}</td>
          <td>{{ getTypeName( context.ROCKtype ) }}</td>
          <td>{{ getContextType( context.type ) }}</td>
          <td>{{ getCityName( context.city ) }}</td>
          <td>
            <div class="field is-grouped">
              <p class="control">
                <a [routerLink]="['/model-practices/edit', context.key]" class="button is-primary is-small">Edit</a>
              </p>
              <p class="control">
                <a (click)="deleteItem(context.key, i)" [class.is-loading]="isDeletingItem && itemToDelete == i" class="button is-danger is-small">Delete</a>
              </p>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="box" *ngIf="paginationEnabled">
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" (click)="prevPage()" [attr.disabled]="disablePrevPage ? true : null">Previous page</a>
    <a class="pagination-next" (click)="nextPage()" [attr.disabled]="disableNextPage ? true : null">Next page</a>
  </nav>
</div>