@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:300,500');

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

/* COLORS */
// $lightGrey: #E6E6E6;
// $textGrey: #333333;
// $mediumGrey: rgba($textGrey, .35);
// $inputGrey: #E2DCDE;
// $red: #C53831;
// $brickRed: #B13343;
// $purple: #56267D;
// $titlePurple: #4D176E;
// $titleOrange: #CA5227;
// $white: #ffffff;
// $black: #000000;

// $primary: $purple;
// $link: $titleOrange;
// $input-focus-border-color: $grey-lighter;
// $input-focus-box-shadow-color: rgba( $primary, 0.25 );
// $navbar-item-img-max-height: initial;
// $navbar-item-hover-background-color: darken( $primary, 5 );
// $title-color: $primary;

@import "../node_modules/bulma/bulma";
@import "../node_modules/ng2-dnd/bundles/style.css";

@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/layout.scss';

@import './styles/styleguide.scss';

.marker {
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
        border: 3px solid red;
    }
}