<div class="box" *ngIf="debug">
  <p>City: {{ contextForm.get('city').value | json }}</p>
  <p>Category: {{ contextForm.get('ROCKcategory').value | json }}</p>
  <p>Type: {{ contextForm.get('type').value | json }} - Location: {{ contextForm.get('geolocation').value | json }} - Geomode: {{ geoMode }}</p>
  <p>Area points: {{ contextForm.get('area').value ? contextForm.get('area').value.length : 0 }}</p>
  <p>Form status: {{ contextForm.status | json }} - Touched: {{ contextForm.touched }} - Dirty: {{ contextForm.dirty }}</p>
</div>

<div class="list-header is-clearfix">
  <h1 *ngIf="!isNewItem" class="title is-pulled-left">Edit {{itemSingular | titlecase}}</h1>
  <h1 *ngIf="isNewItem" class="title is-pulled-left">New {{itemSingular | titlecase}}</h1>
</div>

<hr>

<div class="box">
  <form [formGroup]="contextForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.name"
                  type="text" 
                  placeholder="Name" 
                  id="name" 
                  class="input" 
                  formControlName="name" 
                  required 
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.name" class="help is-danger">{{ formErrors.name }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Slug</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.slug"
                  type="text" 
                  placeholder="Slug" 
                  id="slug" 
                  formControlName="slug" 
                  required 
                  [attr.disabled]="true"
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.slug" class="help is-danger">{{ formErrors.slug }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Replicator city</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.city">
                  <select 
                    id="city" 
                    formControlName="city" 
                    required
                  >
                    <option *ngFor="let city of cities | async" [value]="city.key">{{city.name}}</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.city" class="help is-danger">{{ formErrors.city }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">ROCK category</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.ROCKcategory">
                  <select 
                    id="ROCKcategory" 
                    formControlName="ROCKcategory" 
                    required
                  >
                    <option *ngFor="let cat of categories | async" [value]="cat.key">{{cat.name}}</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.ROCKcategory" class="help is-danger">{{ formErrors.ROCKcategory }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Georeference type</label>
        </div>

        <div class="field-body">
          <div class="field">
              <div class="control has-icons-right">
                <div class="select" [class.is-danger]="formErrors.type">
                  <select 
                    id="type" 
                    formControlName="type" 
                    required 
                  >
                    <option [selected]="contextForm.get('type').value == 'point'" value="point">Point</option>
                    <option [selected]="contextForm.get('type').value == 'areaStroke'" value="areaStroke">Area stroke</option>
                    <option [selected]="contextForm.get('type').value == 'areaFill'" value="areaFill">Area Fill</option>
                  </select>
                </div>
              </div>
              <p *ngIf="formErrors.type" class="help is-danger">{{ formErrors.type }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Georeference</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box">
              <!-- <map-box 
                *ngIf="context | async; else emptyMap" 
                [center]="location" 
                [zoom]="12" 
                [containerH]="'350px'" 
                [drawMode]="geoMode" 
                [areaCoords]="contextForm.get('area').value" 
                (onMapLoad)="onMapLoad( $event )" 
                (onMapClick)="onMapClick( $event )"
              ></map-box>
              <ng-template #emptyMap>
                  <map-box 
                    [containerH]="'350px'" 
                    (onMapLoad)="onMapLoad( $event )" 
                    (onMapClick)="onMapClick( $event )"
                  ></map-box>
              </ng-template> -->
              <map-box-draw 
                [containerH]="'450px'" 
                (onMapLoad)="mapLoaded( $event )" 
                (onMapClick)="mapClicked( $event )" 
                (onSelectedMarkersRemove)="selectedMarkersRemoved( $event )" 
                (onMarkerRemoveAll)="markerAllRemoved( $event )" 
                (onAreaDelete)="areaDeleted( $event )"
              ></map-box-draw>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" *ngIf="geoMode != 'point'">
        <div class="field-label is-normal">
          <label class="label">&nbsp;</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control buttons">
              <button class="button is-primary is-outlined" (click)="deleteArea()">
                Delete area
              </button>
              <button class="button is-primary is-outlined" (click)="map.removeLastPoint()">
                Delete last point
              </button>
              <button class="button is-primary is-outlined" (click)="map.closeAreaPolygon()">
                Close area
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">
            Summary (short description), 
            <a (click)="toggleDescriptionField()"><small>click here to toggle long description field</small></a>
          </label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
                <textarea 
                  class="textarea" 
                  [class.is-danger]="formErrors.description"
                  placeholder="Item's short description (a.k.a summary)" 
                  id="summary" 
                  formControlName="summary" 
                ></textarea>
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" [ngStyle]="{display: showDescriptionField ? 'flex' : 'none'}">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
                <textarea 
                  class="textarea" 
                  [class.is-danger]="formErrors.description"
                  placeholder="Item's extended description" 
                  id="description" 
                  formControlName="description" 
                ></textarea>
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Images & videos</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box media-container">
              <div class="columns is-multiline">
                <div *ngFor="let image of contextForm.get('images').value; let i = index;" class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-16by9">
                        <cl-image public-id="{{image.public_id}}">
                          <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-image>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p class="is-size-7 has-text-weight-semibold">
                          {{ image.original_filename }}.{{ image.format }}
                          <time datetime="2018-1-1" class="is-size-7"> - {{ image.created_at | date: 'dd/MM/yyyy' }}</time>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="button is-small is-danger card-footer-item" (click)="deleteImage(i)">Delete image</a>
                    </footer>
                  </div>
                </div>

                <div *ngFor="let video of contextForm.get('videos').value; let i = index;" class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="video is-16by9">
                        <cl-video 
                          public-id="{{video.public_id}}" 
                          fallback-content="Your browser does not support HTML5 video tags" 
                          controls
                        >
                          <cl-transformation width="320" height="180" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-video>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p class="is-size-7 has-text-weight-semibold">
                          {{ video.original_filename }}.{{ video.format }}
                          <time datetime="2018-1-1" class="is-size-7"> - {{ video.created_at | date: 'dd/MM/yyyy' }}</time>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="button is-small is-danger card-footer-item" (click)="deleteVideo(i)">Delete video</a>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Upload files</label>
        </div>

        <div class="field-body">
          <div class="field">
            <form-uploader 
              [icon]="faUpload" 
              (onUploadResult)="onUploadResult( $event )" 
              (onAfterAddingFile)="onAfterAddingFile( $event )"
            ></form-uploader>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button 
                (click)="save()" 
                [class.is-loading]="isSaving" 
                class="button is-primary is-block is-fullwidth is-large" 
                [disabled]="!(contextForm.status == 'VALID')"
              >Save</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>