<div class="box" *ngIf="debug">
  <p>Form value: {{ categoryForm.value | json }}</p>
  <p>Form status: {{ categoryForm.status | json }} - Touched: {{ categoryForm.touched }}</p>
</div>

<div class="list-header is-clearfix">
  <h1 *ngIf="!isNewItem" class="title is-pulled-left">Edit {{itemSingular | titlecase}}</h1>
  <h1 *ngIf="isNewItem" class="title is-pulled-left">New {{itemSingular | titlecase}}</h1>
</div>

<hr>

<div class="box">
  <form [formGroup]="categoryForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control has-icons-right">
                <input 
                  class="input" 
                  [class.is-danger]="formErrors.name"
                  type="text" 
                  placeholder="Name" 
                  id="name" 
                  class="input" 
                  formControlName="name" 
                  required 
                >
                <span class="icon is-small is-right" *ngIf="formErrors.name">
                  <fa-icon [icon]="faBan"></fa-icon>
                </span>
                <span class="icon is-small is-right" *ngIf="!formErrors.name">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
              <p *ngIf="formErrors.name" class="help is-danger">{{ formErrors.name }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Slug</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control has-icons-right">
              <input 
                class="input" 
                [class.is-danger]="formErrors.slug"
                type="text" 
                placeholder="Slug" 
                id="slug" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
              <span class="icon is-small is-right" *ngIf="formErrors.name">
                <fa-icon [icon]="faBan"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!formErrors.name">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>
            </p>
            <p *ngIf="formErrors.slug" class="help is-danger">{{ formErrors.slug }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Color</label>
        </div>
        
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input 
                class="input" 
                [class.is-danger]="formErrors.color" 
                id="color" 
                formControlName="color" 
                required 
                [colorPicker]="categoryForm.get('color').value" 
                [value]="categoryForm.get('color').value" 
                [style.background]="categoryForm.get('color').value" 
                [style.color]="'white'"
                [cpPosition]="'bottom'" 
                [cpAlphaChannel]="'enabled'" 
				        [cpOutputFormat]="'rgba'" 
                (colorPickerChange)="categoryForm.get('color').setValue( $event )"
              />
            </p>
            <p *ngIf="formErrors.color" class="help is-danger">{{ formErrors.color }}</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Stroke width</label>
        </div>

        <div class="field-body">
          <div class="field">
              <p class="control">
                <input 
                  class="input" 
                  type="text" 
                  placeholder="Stroke width" 
                  id="strokeWidth" 
                  class="input" 
                  formControlName="strokeWidth" 
                >
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">General/Cross Search category?</label>
        </div>

        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input 
                  type="radio" 
                  formControlName="isGeneral" 
                  value=true 
                  [checked]="categoryForm.get('isGeneral').value == 'true'"
                >
                Yes
              </label>
              <label class="radio">
                <input 
                  type="radio" 
                  formControlName="isGeneral" 
                  value=false 
                  [checked]="categoryForm.get('isGeneral').value == 'false'"
                >
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Icon</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="box media-container">
              <div class="columns is-multiline">
                <div class="card" *ngIf="categoryForm.get('icon').value">
                  <div class="card-image">
                    <figure class="image is-16by9">
                      <cl-image public-id="{{categoryForm.get('icon').value.public_id}}">
                        <cl-transformation width="160" height="90" crop="pad" dpr="auto" quality="auto" fetch-format="auto"></cl-transformation>
                      </cl-image>
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <p class="is-size-7 has-text-weight-semibold">
                        {{ categoryForm.get('icon').value.original_filename }}.{{ categoryForm.get('icon').value.format }}
                        <time datetime="2018-1-1" class="is-size-7"> - {{ categoryForm.get('icon').value.created_at | date: 'dd/MM/yyyy' }}</time>
                      </p>
                    </div>
                  </div>
                  <footer class="card-footer">
                    <a class="button is-small is-danger card-footer-item" (click)="deleteIcon()">Delete icon</a>
                  </footer>
                </div>

                <div class="card" *ngIf="categoryForm.get('icon2').value">
                  <div class="card-image">
                    <figure class="image is-16by9">
                      <cl-image public-id="{{categoryForm.get('icon2').value.public_id}}">
                        <cl-transformation width="160" height="90" crop="pad" dpr="auto" quality="auto" fetch-format="auto"></cl-transformation>
                      </cl-image>
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <p class="is-size-7 has-text-weight-semibold">
                        {{ categoryForm.get('icon2').value.original_filename }}.{{ categoryForm.get('icon2').value.format }}
                        <time datetime="2018-1-1" class="is-size-7"> - {{ categoryForm.get('icon2').value.created_at | date: 'dd/MM/yyyy' }}</time>
                      </p>
                    </div>
                  </div>
                  <footer class="card-footer">
                    <a class="button is-small is-danger card-footer-item" (click)="deleteIcon()">Delete icon</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Upload icon</label>
        </div>

        <div class="field-body">
          <div class="field">
            <form-uploader 
              [icon]="faUpload" 
              [multiple]="true" 
              (onUploadResult)="onUploadResult( $event )" 
              (onAfterAddingFile)="onAfterAddingFile( $event )"
            ></form-uploader>
          </div>
        </div>
      </div>

      <hr>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
              <textarea 
                class="textarea" 
                [class.is-danger]="formErrors.description"
                placeholder="Description" 
                id="description" 
                formControlName="description" 
              ></textarea>
              </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">ROCK types</label>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="buttons box">
                <span 
                  *ngFor="let type of categoryForm.get('types').value; let i = index" 
                  class="button is-primary" 
                  (click)="categoryForm.get('types').value.splice(i,1)"
                >
                  {{ type.name }}&nbsp;|&nbsp;<strong>x</strong>
                </span>
              </div>
              <div class="buttons">
                <span 
                  *ngFor="let type of types | async;" 
                  class="button is-small" 
                  (click)="categoryForm.get('types').value.push( { key: type.key, name: type.name } )"
                >
                  {{ type.name }}&nbsp;|&nbsp;<strong>+</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"></label>
        </div>

        <div class="field-body">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input is-small" type="text" placeholder="New ROCK type name">
            </p>
            <p class="control">
              <a class="button is-primary is-outlined is-small">Add new ROCK type</a>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button 
                (click)="save()" 
                [class.is-loading]="isSaving" 
                class="button is-primary is-block is-fullwidth is-large" 
                [disabled]="!(categoryForm.status == 'VALID')"
              >Save</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>