<div class="sidebar-inner"  *ngIf="auth.user | async as user">
  <p class="menu-label">General data</p>
  <ul class="menu-list">
    <!-- <li><a [routerLink]="'/dashboard'">Dashboard</a></li> -->
    <li><a [routerLink]="'/cities'">Cities</a></li>
    <li><a [routerLink]="'/rock-categories'">Categories</a></li>
    <li><a [routerLink]="'/rock-category-types'">Types</a></li>
  </ul>

  <p class="menu-label">Context</p>
  <ul class="menu-list">
    <li><a [routerLink]="'/contexts'">Context items list</a></li>
    <li><a [routerLink]="'/contexts/new'">New context item</a></li>
  </ul>

  <p class="menu-label">ROCK Actions</p>
  <ul class="menu-list">
    <li><a [routerLink]="'/actions'">ROCK actions list</a></li>
    <li><a [routerLink]="'/actions/new'">New ROCK action</a></li>
  </ul>

  <p class="menu-label">Model practices</p>
  <ul class="menu-list">
    <li><a [routerLink]="'/model-practices'">Model practices list</a></li>
    <li><a [routerLink]="'/model-practices/new'">New model practice</a></li>
  </ul>

  <!-- <p class="menu-label">ROCK Impact</p>
  <ul class="menu-list">
    <li><a>ROCK impacts list</a></li>
    <li><a>New ROCK impact</a></li>
  </ul> -->
</div>