// @import '../../../styles/variables';

// .sidebar {
//     position: absolute;
//     width: 25vw;
//     height: $sidebarH;
//     top: $sidebarTop;
//     background-color: $B2purple;
//     z-index: $sidebarIndex;

//     &.sidebar-left { left: 0; }
//     &.sidebar-right { right: 0; }

//     .sidebar-inner {
//         padding: $sidebarPadding;

//         // h1 {}
//         ul {
//             margin-top: $sidebarmenuMarginTop;
//             li {
//                 a {
//                     display: inline-block;
//                     width: 100%;
//                     height: 30px;
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }